# Project exclude paths
/.gradle/
/Smart Calculator/task/build/
/Smart Calculator/task/out/
/Smart Calculator/task/out/production/classes/
/Topics/When expression/Direction/out/
/Topics/When expression/Direction/out/production/classes/